*{
   
    font-family: Poppins,sans-serif;
    color: #fff;
    text-decoration: none;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: url(_035e2c08-079a-40ac-9b7e-d849e93e2784.jpeg);
    background-position: center;
    background-size: cover;
    width: 98%;
    height: 98%;
    
    
}

.wrapper {
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40%;
    width: 70%;
    padding: 20px;
    border-radius: 20px;

    border: solid rgba(255,255 ,255 , .2) 3px ;
    backdrop-filter: blur(10px);

}

button{
    width: 100%;
    background:  rgb(54, 107, 253);
    color: white ;
    padding: 14px;
    border:5px solid rgb(54, 107, 253) ;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    transition: 220ms;

}

input{
    background: white;
    border: none;
    border-radius: 10px;
    padding: 13px;
    margin: 15px;
    text-align: center;
    margin-left: 50px;
    cursor: pointer;
    color: black;
}

h1 {
    font-size: 40px;
    text-align: center;


}

button:hover{
    background: transparent;
    border: 5px solid rgb(54, 107, 253);
    transition: 220ms;
    color: rgb(54, 107, 253);
    font-size: 30px;
}